<div class="login">
  <div class="login-wrapper">
    <div class="login-content">
      <div class="login-content__header">
        <div class="login-content__header-title">Login</div>
      </div>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="login-content__form form"
      >
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input
            matInput
            type="email"
            formControlName="username"
            placeholder="Username"
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Password"
          >
        </mat-form-field>
        <button type="submit" mat-flat-button>Submit</button>
      </form>
    </div>
  </div>
</div>
